<Server>
  <DebugNetwork>false</DebugNetwork>
  <UploadLog>false</UploadLog>
  <UploadData2BOUseEncryption>true</UploadData2BOUseEncryption>
  <IP>0.0.0.0</IP>
  <PortType>fix</PortType>
  <SocketTimeOut>40000</SocketTimeOut>
  <UseSaveMemberOrderToCRMDB>false</UseSaveMemberOrderToCRMDB>
  <MessagePath>msgs/</MessagePath>
  <HeartBeatUploadSystemInfo>true</HeartBeatUploadSystemInfo>
  <InsertSystemInfoLimitCount>100</InsertSystemInfoLimitCount>
  <UseLogAnalysis>false</UseLogAnalysis>
  <LogAnalysisMaxThreadPoolSize>50</LogAnalysisMaxThreadPoolSize>
  <Ports>
    <Port>8080</Port>
  </Ports>
  <Language>CN</Language>
  <Log>
    <LogPath>LOG</LogPath>
  </Log>
  <Sql>
    <SqlBakPath>sql/bak</SqlBakPath>
    <!--存放上传得到的sql文件的目录-->
    <SqlErrorPath>sql/error</SqlErrorPath>
    <!--存放执行出错的sql文件的目录-->
    <SqlDuplicatedPath>sql/duplicated</SqlDuplicatedPath>
    <!--存放执行出错的sql文件的目录-->
    <SqlDonePath>sql/done</SqlDonePath>
    <!--存放执行成功的sql文件的目录-->
    <SqlEndFlg>-- EOF --</SqlEndFlg>
    <SqlCRMErrorPath>sql/crmerror</SqlCRMErrorPath>
  </Sql>
  <SqlOther>
    <SqlOtherErrorPath>sqlOther/error</SqlOtherErrorPath>
    <SqlOtherDuplicatedPath>sqlOther/duplicated</SqlOtherDuplicatedPath>
    <SqlOtherDonePath>sqlOther/done</SqlOtherDonePath>
  </SqlOther>
  <Rpt>
    <RptBakPath>rpt/bak</RptBakPath>
    <RptDonePath>rpt/done</RptDonePath>
    <RptErrorPath>rpt/error</RptErrorPath>
    <RptDuplicatedPath>rpt/duplicated</RptDuplicatedPath>
    <RptSuffix>_RPT</RptSuffix>
  </Rpt>
  <UploadTransDB>
    <DBPropertyFile Suffix="_HX2" FileName="c3p0_hex2.properties"/>
  </UploadTransDB>
  <SqlServerExceptionTime>6</SqlServerExceptionTime>
  <BadStr>information_schema.columns|table_schema|union</BadStr>
  <MailServer>
    <MailHost>mail.tradesoft.com.tr</MailHost>
    <MailPort>587</MailPort>
    <MailUserName>bologmonitorservice</MailUserName>
    <MailPassword>******</MailPassword>
    <MailFrom>BOLogMonitorService@zenia.tech</MailFrom>
    <MailSubject>BOLog Monitor Server Alert</MailSubject>
  </MailServer>
  <MailTos>
    <MailTo>inanc.kevser@atptech.com</MailTo>
    <MailTo>caner.polat@atptech.com</MailTo>
    <MailTo>batuhan@atptech.com</MailTo>
    <MailCC>mehmet.kahraman@atptech.com</MailCC>
  </MailTos>
  <DB>
    <DBPath>Database</DBPath>
    <DBName>BO.DB</DBName>
    <DBTemplateName>BO_empty.sqlite</DBTemplateName>
  </DB>
  <Database>
    <DatabasePath>jdbc:sqlserver://10.0.7.24:1433</DatabasePath>
    <DatabaseUserName>sa</DatabaseUserName>
    <DatabasePassword>r9sWZcqk</DatabasePassword>
    <DatabaseDriver>com.microsoft.sqlserver.jdbc.SQLServerDriver</DatabaseDriver>
    <DatabaseType>SqlServer</DatabaseType>
    <DatabaseVersion>0</DatabaseVersion>
    <DatabaseTimeout>10000</DatabaseTimeout>
  </Database>
  <Period>5</Period>
  <Stores><Store id="45" secondPort=" " extStoreId=" " storeName=" "><PosId>1</PosId></Store><Store id="4ss" secondPort=" " extStoreId=" " storeName=" "><PosId>1</PosId></Store><Store id="44" secondPort=" " extStoreId=" " storeName=" "><PosId>1</PosId></Store><Store id="111" secondPort=" " extStoreId=" " storeName=" "><PosId>1</PosId></Store><Store id="31231" secondPort=" " extStoreId=" " storeName=" "><PosId>1</PosId><PosId>2</PosId><PosId>3</PosId><PosId>4</PosId><PosId>5</PosId></Store>
  </Stores>
</Server>